body {
    font-family: 'Titilium Web', sans-serif;
}

h1 {
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}

h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

h5 {
    margin-bottom: 0px;
}

p {
    font-size: 18px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

a i {
    font-size: 22px;
    color: #fff;
}

section {
    padding: 120px 0;
}

.bg-light-grey {
    background: #f5f5f5;
}

.bg-port {
    background: #E9EBEE;
}

.bg-about-us {
    background: #211B24;
}

.topmargin-xs {
    margin-top: 15px;
}

.topmargin-sm {
    margin-top: 38px;
}

.topmargin-lg {
    margin-top: 60px;
}

.btn {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.btn-light {
    background-color: #fff;
    color: #1a1a1a;
    border: 2px solid #fff;
    border-radius: 24px;
}

.btn-light:hover {
    background: #000;
    color: #fff;
}

.btn i {
    font-size: 14px;
    margin-left: 5px;
}

.btn-dark {
    background: #000;
    color: #fff;
    border: 2px solid #fff;
}

.text-dark {
    color: #1a1a1a;
}

.borde {
    background: #fff;
    padding: 5px;
    border-radius: 3px;
}

.navbar {
    background: #000;
    /* background: transparent; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    min-height: 90px;
    /* position: sticky;
    top: 0; */
    z-index: 3000;
}

.nav-link {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.nav-link:hover {
    color: #1a1a1a;
}

.logo-brand {
    height: 65px;
    width: 65px;
}

.navbar-toggler {
    font-size: 30px;
    color: #fff;
}

.navbar-toggler:focus {
    /* outline: none; */
    outline-color: #fff;
}

#hero {
    background-image: url('../image/duaportada.jpg');
    background-size: cover;
    padding: 90px;
    min-height: 700px;
    color: #fff;
}

#hero p {
    color: #fff;
    font-weight: 600;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.portfolio-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.portfolio-container img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    transition: all 0.8s;
}

.portfolio-container:hover img {
    transform: scale(1.2);
}

.portfolio-container>.portfolio-details {
    position: absolute;
    bottom: 25px;
    left: 10px;
    z-index: 1;
}

.portfolio-details h2 {
    font-size: 25px;
    border: 1px solid #000;
    background: #000;
    border-radius: 15px;
    padding: 1px 8px;
    color: #fff;
    margin-bottom: 5px;
}

.portfolio-details a p {
    font-size: 12px;
    display: inline-block;
    border: 1px solid #e6dede;
    background: #fff;
    border-radius: 15px;
    padding: 1px 4px;
    color: #000;
}

.member-container {
    position: relative;
    margin: 10px 0;
}

.member-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 2px;
}

.member-details {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: #fff;
}

.member-details span {
    font-size: 14px;
    display: block;
}

.member-details h5 {
    background: #000;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    padding: 1px 5px;
}

.member-details i {
    padding: 5px;
}

.pricing-container {
    margin: 15px 0;
    padding: 0px 5px;
}

.plans {
    padding: 25px 40px;
    border-radius: 2px;
    min-width: 250px;
}

.plan-light {
    background: #fff;
    border: 2px solid #000;
    color: #000;
}

.plan-dark {
    background: #000;
    border: 2px solid #fff;
    color: #fff;
}

.plans h2 {
    font-size: 70px;
    font-weight: 600;
}

.plan span {
    font-size: 20px;
}

.plans ul {
    list-style-type: square;
}

@media (max-width: 575.98px) {
    h1 {
        font-size: 40px;
        line-height: normal;
    }
    .portfolio-details h2 {
        font-size: 18px;
    }
}


/* @media(min-width: 576px) and (max-width:767.98px){}
@media(min-width: 576px) and (max-width:767.98px){}
@media(min-width: 576px) and (max-width:767.98px){}
@media(min-width: 576px) and (max-width:767.98px){} */